* {
    margin: 10px;
}

header, nav {
    text-align: center;
}

nav a {
    margin-right: 20px;
}

aside a{
    display: block;
    line-height: 30px;
}

aside {
    float: right;
    width: 30%;
}

article {
    float: left;
    width: 65%;
}

h1 {
    margin-bottom: 50px;
}

footer {
    width: 500px;
}