.center {
  text-align: center;
}

.pokedex-box {
  border:  1px solid black;
  border-radius: 5px;
  width: 46vw;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokedex-box:last-child {
  flex-grow: 1;
  max-width: 95.5vw;
}